{% extends 'base.html' %}

{% load navigation %}
{% load humanize %}
{% load markup %}

{# {% block javascript %} #}
{# <script src="{{ MEDIA_URL }}js/mootools-release-1.11.js" type="text/javascript"></script> #}
{# <script src="{{ MEDIA_URL }}js/crm.js" type="text/javascript"></script> #}
{# <script src="{{ MEDIA_URL }}js/calendar.js" type="text/javascript"></script> #}
{#  #}
{# <script type="text/javascript" charset="utf-8"> #}
{# // <![CDATA[ #}
{# 	window.addEvent('domready', function() { #}
{# 		$('show_interactions').addEvent('click', function(){ #}
{# 			list_interactions(this, "{% url ajax_interaction_list %}", 5); #}
{# 		}); #}
{# 	}); #}
{# // ]]> #}
{# </script> #}
{# {% endblock %} #}

{% load navigation %}
{% block navigation %}{% menu caktus_books interactions %}{% endblock %}

{% block content %}
	<h2>Interactions</h2>
	<p>To create a new interaction, navigate to the contact record you've interacted with and click "New Interaction."</p>
	
	<form class='search' accept-charset='UTF-8' method='get' action=''>
		<ul>
			{{ form.as_ul }}
			<li class='form-buttons'>
				<input class='large-button' type='submit' name='submit' value='Search &rarr;' />
			</li>
		</ul>
	</form>
	
	{% load pagination_tags %}
	{% autopaginate interactions %}
	{% paginate %}
	
	{% include "crm/interaction/_list.html" %}
{% endblock %}
