{% extends "crm/business/view.html" %}
{% load i18n %}

{% block title %}{% if not business %}Create {% trans "Business" %}{% else %}Edit {{ business }}{% endif %}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% if business %}
        {% add_crumb 'Edit' %}
    {% else %}
        {% add_crumb 'Create' %}
    {% endif %}
{% endblock %}

{% block javascript %}
{{ location_form.media }}
{% endblock %}

{% block mootools %}
    <script src="{{ MEDIA_URL }}js/mootools-1.2.1-core-yc.js" type="text/javascript"></script>
    <link href="/clients/media/style/caktus/Autocompleter/Autocompleter.css" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/caktus/Autocompleter/Autocompleter.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/caktus/Autocompleter/Autocompleter.Request.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/caktus/Autocompleter/Observer.js"></script>
{% endblock %}

{% block css %}
<link charset='UTF-8' rel='stylesheet' type='text/css' media='screen' href='{{ MEDIA_URL }}css/django-contactinfo.css' />
{% endblock %}

{% block content %}

<h2>{% if not business %}Create {% trans "Business" %}{% else %}Edit {{ business }}{% endif %}</h2>

<form id="create-edit-business" action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
	<table class='vertical'>
		{{ business_form }}
        {% include 'contactinfo/_create_edit_location.html' %}
		<tr>
			<td>&nbsp;</td>
			<td class='submit'>
				<input type='button' value='Cancel' onclick='history.go(-1)' />
				&nbsp;
				<input type='submit' name='submit' value='Save &rarr;' />
			</td>
		</tr>
	</table>
</form>

{% endblock %}
