{% extends "crm/person/view.html" %}

{% block title %}{% if contact %}Update {{ contact }}{% else %}Add new person{% endif %}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% if contact %}
        {% add_crumb 'Edit' %}
    {% else %}
        {% add_crumb 'Create' %}
    {% endif %}
{% endblock %}

{% block javascript %}
{{ location_form.media }}
{% endblock %}

{% block css %}
<link charset='UTF-8' rel='stylesheet' type='text/css' media='screen' href='{{ MEDIA_URL }}css/django-contactinfo.css' />
{% endblock %}

{% block content %}

<h2>{% if contact %}Update {{ contact }}{% else %}Add new person{% endif %}</h2>

<form id='create-edit-person' accept-charset='UTF-8' method='post' action=''>
    {% csrf_token %}
	<table class='vertical'>
		{% for form in forms %}
			{{ form }}
		{% endfor %}
        {% include 'contactinfo/_create_edit_location.html' %}
		<tr>
			<td>&nbsp;</td>
			<td class='submit'>
				<input type='button' value='Cancel' onclick='history.go(-1)' />
				&nbsp;
				<input type='submit' name='submit' value='{% if contact %}Update{% else %}Create{% endif %} &rarr;' />
			</td>
		</tr>
	</table>
</form>

{% endblock %}
